.card {
  max-width: 413px;
}

.card__image {
  margin-bottom: 12px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 360px;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;
  }

  .card__image {
    height: 288px;
  }
}
